Repository iter8-tools/iter8, pull requests merged in 2020-04, with the labels that each got.

#82 Informer and refactor
  install/helm/iter8-controller/templates/crds/iter8.tools_experiments.yaml
  install/iter8-controller.yaml
  pkg/analytics/adapter.go
  pkg/analytics/algorithm/increment_without_check/increment_without_check.go
  pkg/analytics/metrics/configmap.go
  pkg/apis/iter8/v1alpha1/experiment_types.go
  pkg/controller/experiment/cache/abstract/experiment.go
  pkg/controller/experiment/cache/abstract/targets.go
  pkg/controller/experiment/cache/cache.go
  pkg/controller/experiment/cache/util.go
  pkg/controller/experiment/common.go
  pkg/controller/experiment/experiment.go
  pkg/controller/experiment/experiment_controller.go
  pkg/controller/experiment/experiment_controller_test.go
  pkg/controller/experiment/knative.go
  pkg/controller/experiment/kubernetes.go
  pkg/controller/experiment/recorder.go
  pkg/controller/experiment/routing/istio.go
  pkg/controller/experiment/routing/routing.go
  pkg/controller/experiment/targets/targets.go
  pkg/controller/experiment/util/util.go
  pkg/notifier/handler.go
  pkg/notifier/notifier.go
  test/e2e/kubernetes_test.go
Labels: Epic, controller, enhancement

#103 Cleanup
  pkg/analytics/service.go
  pkg/apis/iter8/v1alpha1/experiment_types.go
  pkg/controller/experiment/cache/abstract/experiment.go
  pkg/controller/experiment/cache/abstract/targets.go
  pkg/controller/experiment/cache/cache.go
  pkg/controller/experiment/common.go
  pkg/controller/experiment/experiment.go
  pkg/controller/experiment/experiment_controller.go
  pkg/controller/experiment/kubernetes.go
  pkg/controller/experiment/recorder.go
  pkg/controller/experiment/routing/routing.go
  pkg/controller/experiment/targets/targets.go
  pkg/controller/experiment/util/util.go
Labels: controller, enhancement

#111 Controller modifications for redhat
  cmd/manager/main.go
  install/helm/iter8-controller/templates/default/manager.yaml
  install/helm/iter8-controller/values.yaml
  install/iter8-controller.yaml
  pkg/analytics/metrics/configmap.go
  pkg/notifier/handler.go
Labels: redhat openshift

#113 changes for pr54 on iter8-analytics
  doc/tutorials/istio/bookinfo/canary_productpage-v1_to_productpage-v2.yaml
  doc/tutorials/istio/bookinfo/canary_productpage-v1_to_productpage-v2_telemetry-v2.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v2_to_reviews-v3.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v2_to_reviews-v3_telemetry-v2.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v3_to_reviews-v4.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v3_to_reviews-v4_telemetry-v2.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v3_to_reviews-v5.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v3_to_reviews-v5_telemetry-v2.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v3_to_reviews-v6.yaml
  doc/tutorials/istio/bookinfo/canary_reviews-v3_to_reviews-v6_telemetry-v2.yaml
  doc/tutorials/knative/bookinfo/canary_reviews-v2_to_reviews-v3.yaml
  doc/tutorials/knative/bookinfo/canary_reviews-v3_to_reviews-v4.yaml
  doc/tutorials/knative/bookinfo/canary_reviews-v3_to_reviews-v5.yaml
  pkg/apis/iter8/v1alpha1/experiment_types.go
Labels: do not merge, redhat openshift
