Repository iter8-tools/iter8, pull requests merged in 2021-12, with the labels that each got.

#1085 Small changes to landing page
  go.mod
  mkdocs/docs/images/illustration.png
  mkdocs/docs/images/src/illustration.pptx
  mkdocs/overrides/home.html
Labels: kind/bug, kind/docs

#1086 Install instructions
  README.md
  mkdocs/docs/getting-started/install.md
  mkdocs/docs/getting-started/your-first-experiment.md
Labels: kind/docs, area/install

#1087 simplified mkdocs
  mkdocs/mkdocs.yml
  mkdocs/overrides/partials/footer.html
  mkdocs/requirements.txt
Labels: kind/docs

#1089 Explicit Jinja2 requirement for medics
  .github/workflows/buildlatestimage.yaml
  .github/workflows/buildtaggedimage.yaml
  mkdocs/requirements.txt
Labels: kind/docs

#1090 Renaming version step
  .github/workflows/buildtaggedimage.yaml
Labels: area/CI, area/install

#1091 Fix major minor version docker push
  .github/workflows/buildtaggedimage.yaml
Labels: kind/enhancement, area/install

#1093 change default image latest to 0.8
  basecli/k8s.go
  basecli/k8s.tpl
Labels: kind/enhancement
